/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.1em;
  color: #444;
  background-color: #f5f5f5;
}
h2 {
  font-family: 'Noto Serif', serif;
  font-size: 2em;
  text-align: center;
  margin-top: 2em;
}
a {
 text-decoration: none;
 color: white
}
.wrapper {
  width: 90%;
  margin: 3em auto;
  overflow: hidden;
}

/*header*/

header p {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}
h1.name {
  font-size: 1.7em;
  text-transform: uppercase;
}
h1 {
  width: 21%;
  margin: 0 auto;
}
#main-nav li {
  display: inline-block;
}
.button-left,
.button-right {
  text-align: center;
}
.button-right {
  float: right;
}
.button-left a,
.button-right a {
  background-color: #eb635e;
  padding-top: 1em;
  width: 120px;
  height: 40px;
  display: block;
}
.button-left a:hover,
.button-right a:hover{
  background-color: #5CBDBD;
}
#main-nav p {
  margin-left: 42%;
  font-size: 1em;
}

/*content*/
.container-left a:hover {
  opacity: 0.9;
}
.github-icon {
  margin: 0 auto;
  color:#444;
  font-size: 0.7em;
  text-align: center;
    
}
.github-icon img{
    padding-right: 6px;
}
.container-right,
.container-left {
  width: 47%;
  height: 400px; 
  margin-top: 4em;
}
.container-left {
  float: left;   
}
.container-left img {
  height: 100%;
}
.container-right {
  background-color: white;
  float: right; 
}
.container-right p {
  margin: 3em 4.5em;
  line-height: 1.5em;
  text-align: center;
}
.wrapper-about {
  padding: 2em 0;
  margin-top: 2em;
  width: 100%;
  background-color: #eb635e;
  margin: 0 auto;
}
.wrapper-about p {
  font-size: 1.1em;
  color: white;
  line-height: 1.5em;
  text-align: center;
  margin: 0 10em;
}
#about-img {
  margin-bottom: 30px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 10px #FFF, 0px 0px 0px 11px #BBB; 
  margin: 5% 41%;
}
h2.about  {
  color: white;
}
.wrapper-contact {
  padding: 2em 0;
  width: 100%;
  background-color: #696969;
  margin: 0 auto;
}
.wrapper-contact ul {
   margin: 3em 0;
   text-align: center;
}

/*footer*/ 

.wrapper-contact p {
  font-size: 1.1em;
  color: white;
  line-height: 1.5em;
  text-align: center;
  margin: 0em 10em;
}
.networks li {
  display: inline-block;
  background: url("../img/icons.png");
  margin: 0.8em;
  width: 50px;
  height: 49px;
  opacity: 0.8;
}
.networks li:hover  {
  opacity: 1;
}
.networks li a {
  display: block;
  height: 49px;
  width: 50px;
}
.networks span {
  display: none;
}
li.linkedin {
  background-position: 0 0; 
}
li.github {
  background-position: 173px 0; 
}
li.instagram { 
  background-position: 112px 0; 
}
li.twitter { 
  background-position: 50px 0; 
}


/* Media Queries */
@media screen and (max-width: 974px) {
  .container-right,
  .container-left {
    float: none;
    width: 100%;
  }
  .container-left img {
    width: 100%;
    height: auto;     
  }
  .container-right {
    padding-top: 3em;
  }
  .container-left {
    height: auto;   
  }
} 
